body{
    background-color: rgb(63, 185, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.main-div div{
    margin-top: 250px;
    background-image: url("./vicky.webp");
    background-size: cover;
    width: 100px;
    height: 100px;
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transition-duration: 1s;
}

.main-div div:hover{
    border-radius: 50%;
    background-image: url("./vicky2.jpeg");
    background-size: cover;
}

